<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Alpha-Blog About</title>
  <meta name="homework assigment" content="Alpha-Blog About">
  <meta name="Wendell Richards" content="SitePoint">
</head>

<body>
  <h1>This is the About page!</h1>
  <header>
    <%= link_to 'Home', root_path %>
  </header>

  
  <footer>
    <p>Some footer Text</p>
  </footer>
</body>

</html>