<!doctype html>

<html lang="en">
<head>
  
  <meta charset="utf-8">

  <title>Alpha-Blog Home</title>
  <meta name="homework assigment" content="Alpha-Blog Home">
  <meta name="Wendell Richards" content="SitePoint">
</head>

<body>
 <div class =" center jumbotron">
   <h1> ALPHA BLOG</h1>
 
  <header><%= link_to "sign up now",'#', class: "btn btn-danger btn-lg btn-xlg" %> </header>
  </div>
  
</html>