<!doctype html>

<html lang="en">
<head>
  
  <meta charset="utf-8">

  <title>Alpha-Blog Home</title>
  <meta name="homework assigment" content="Alpha-Blog Home">
  <meta name="Wendell Richards" content="SitePoint">
</head>

<body>
  <h1>This is the Homepage</h1>
  <header><%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %> </header>
  
  <figure>
  <%= image_tag'workhard.jpg' %>
</figure>
  <p>
    Some Body Text
  </p>
</body>
<footer>
  <p>
    Some footer Text
  </p>
</footer>
</html>